.App {
  text-align: center;
  margin: 0 auto;
  width: 1400px;
  background-image: url("https://media.istockphoto.com/vectors/planets-in-space-with-stars-background-in-cartoon-style-solar-system-vector-id1221731288?k=20&m=1221731288&s=170667a&w=0&h=4Jk4X2uacQ5IXUNGpTfX3vRn2hB8J6TDbbvMJMZJB3s=");
  height: 950px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
